* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #111;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: min(1000px, 100vw);
    height: min(600px, 100vh);
}

#gameCanvas {
    display: block;

    width: 100%;
    height: 100%;

    background: #5c94fc;
}